.toolBar {
	display: flex;
	justify-content: space-between;
}

.toolBar_left,
.toolBar_right {
	display: flex;
}
.toolBar_right {
	margin-left: auto;
}

.pagination_container {
	display: flex;
}

.block-language-page-table+.edit-block-button {
	display: none !important;
}

.block-language-page-table table {
	table-layout: fixed;
}

.block-language-page-table .page-table-wrapper {
	overflow-x: scroll;
}

/* calendar */
.calendarView {
	display: flex;
	gap: 1.6rem;
}
.calendar_title_container  {
	display: flex;
	justify-content: space-between;
}
.calendar_title {
	font-weight: var(--callout-title-weight);
}

.calendar_chose {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.calendar_wrap {
	width: fit-content;
}

.calendar_wrap table.calendar {
	border: none;
	border-collapse: collapse;
}

.calendar_wrap table.calendar th,
.calendar_wrap table.calendar td {
	min-width: unset !important;
	border: none;
	text-align: center;
	padding: 0.4rem;
}

.calendar_wrap table.calendar td {
	cursor: pointer;
}
.calendar_wrap table.calendar td button {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
}

.calendar_wrap table.calendar td button:hover {
	color: var(--text-on-accent);
	background-color: var(--color-accent-1);
}

.calendar_wrap table.calendar td:first-child button {
	color: var(--color-red);
}

.calendar_wrap table.calendar td.selected button {
	color: var(--text-on-accent);
	background-color: var(--color-accent);
}

.calendar_wrap table.calendar td.today button{
	border: 1px solid var(--color-accent);
}

.calendar_wrap table.calendar td.next button,
.calendar_wrap table.calendar td.prev button {
	color: var(--color-base-35);
}
.calendar_wrap table.calendar td.next.selected button,
.calendar_wrap table.calendar td.prev.selected button {
	border: 1px solid var(--color-accent-1);
}

.calendar_wrap table.calendar td:first-child.next button,
.calendar_wrap table.calendar td:first-child.prev button {
	color: rgba(var(--color-red-rgb), 0.6);
}
